@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;700&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: solid 2px black;
  margin: 1rem 1rem;
}
.navbar h1 {
  font-weight: bold;
  font-size: 1.3rem;
  color: #00d4ff;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar li {
  padding: 1em;
}
.button-login {
  background: orange;
  border-radius: 8px;
  padding: 0.5em 1em;
}
.change-theme {
  border-radius: 10px;
  margin-left: 10px;
}
.main_content {
  margin: 2rem auto;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 3rem;

}
