@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;700&display=swap');
@tailwind components;
@tailwind utilities;

*, body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'M PLUS 1p', sans-serif;
}
.width {
    margin: 0 auto;
    padding: 3rem 2rem;
}
.navbar {
    color: white;
    font-size: 1.3rem;
    background-color: teal;
    a {
        text-decoration: none;
        color: white;
    }
    li, input {
        margin: 0 0.5rem;
    }
    
}